/// dctb-sass
/// Sass Boilerplate to start new project with some functionalities.
/// @author Diogo Cezar <diogo@diogocezar.com>

// Colors
// Set the project colors here


$color-mostarda: #B2BD7E;
$color-blue-dark: #223843;
$color-green-light: #749C75;
$color-green-opaque: #F1F7EE;
$color-white: #F1F7EE;
$color-white-full: #FFF;


$color-green-dark: #223843;
$color-blue: #002a56;
$color-blue-light: #00d6e0;
$color-gray: #939393;
$color-white-light: #f3eee9;

$color-body-background: #fff;
$color-body: #939393;