/// dctb-sass
/// Sass Boilerplate to start new project with some functionalities.
/// @author Diogo Cezar <diogo@diogocezar.com>

// Colors
// Set the project colors here
$color-blue-light: #7BE0F1;
$color-blue-medium: #3DC2D8;
$color-blue-dark: #1B597F;
$color-purple-light: #755F89;
$color-purple-medium: #523866;
$color-purple-dark: #342442;
$color-green-light: #CED9D2;
$color-white: #EBF5EE;

/* $color-mostarda: #B2BD7E;
$color-blue-dark: #223843;
$color-green-light: #749C75;
$color-green-opaque: #F1F7EE;
$color-white: #F1F7EE;
$color-white-full: #FFF; */


/* $color-green-dark: #223843;
$color-blue: #002a56;
$color-blue-light: #00d6e0;
$color-gray: #939393;
$color-white-light: #f3eee9;*/

$color-body-background: #fff;
$color-body: #939393;