/// Sass Home Page
/// @author Diogo Cezar <diogo@diogocezar.com>

// Charset
@charset 'utf-8';

// Imports
@import '../base/includes/fonts.scss';
@import '../base/includes/sizes.scss';
@import '../base/includes/mixins.scss';
@import '../base/includes/colors.scss';

body {
	font-family: $font-primary;
}

// Home

#home{
	position: relative;
	background-image: url('../../../images/home-header-bg.jpg');
	padding: 5.5% 0% 2% 0%;
	min-height: 100vh;
	width: 100%;

	#middle-container {
		position: absolute;
	    top: 50%;
	    left: 50%;
	    transform: translate(-50%,-38%);
	    text-align: center;
		width: 100%;
		// box-sizing: border-box;
		// border: 1px solid #ddd;
	}

	#logo {
		width:498px;
		height: 78px;
		top: 12%;
		left: 50%;
		position: absolute;
  	 	transform: translateX(-50%);

	}
	#service {
		width: 285px;
		height: 285px;
	}
	h2 {
		margin: 50px 0 0 0;
		font-family: $font-primary;
		color: $color-white;
		font-size: 43px;
		font-weight: 800;
    	letter-spacing: -1px;
	}
	p {
		margin: 0% 20px;
		font-family: $font-primary;
		color: $color-blue-medium;
		font-size: 33px;
		padding: 1.1% 30%;
		line-height: 110%;
	}
	.button-contato {
		width: 100%;
		text-align: center;
		bottom: 0;
		left: 50%;
		position: absolute;
  	 	transform: translateX(-50%);
		/* position: absolute;
		bottom: 70px;
		height: 70px;
		width: 100%;
		left: 50%;
		text-align: center;
		transform: translateX(-50%); */
	}
	.button {
		background-color: $color-white;
		font-family: $font-secondary;
		font-weight: 800;
		font-size: 25px;
		height: 70px;
	    min-width: 333px;
	    max-width: 320px;
	    text-transform: uppercase;
	    //margin: 31px 0px;
	}
}
#sobre {
	background-color: $color-white;
	padding: 5.5% 0% 40% 0%;

	#header {
		min-height: 100vh;
		width: 100%;
		position: relative;

		.title-page {
			position: absolute;
			width: 100%;
			text-align: center;

			h1 {
				color: $color-purple-light;
				font-size: 85px;
				font-weight: bold;
		    	letter-spacing: 1px;
		    	margin: 0;
		    }
		}

		.decorator {
			width: 90px;
		}

		.title-decorator {
			position: absolute;
			right: 50%;
			top: 100px;
			transform: translateX(50%);
		}

		.content-left {
			position: absolute;
			left: 20%;
			top: 25%;
			//border: 1px solid black;

			h2 {
				margin-top: 15px;
				width: 50%;
				color: $color-purple-light;
				font-size: 65px;
				font-weight: 800;
		    	letter-spacing: 0px;
			}

			.body-p {
				margin-top: 65px;
				width: 50%;
				color: $color-blue-medium;
				font-size: 31px;
				font-weight: 800;
				line-height: 34px;
			}
			.body-c {
				font-family: $font-secondary;
				margin-top: 65px;
				width: 50%;
				font-size: 18px;
				line-height: 20px;
				line-height: 34px;
			}
			.img-right {
				position: absolute;
				top: 0px;
				left: 60%;
				width: 200px;
				height: 200px;
			}
		}
	}
	.right {
		text-align: right;
	}
}
