/* @mixin grid {
    width: 18%;
    margin: 1%;
    float: left;
    @media (max-width: 1366px) {
      width: 23%;
    }
    @media (max-width: 1024px) {
      width: 31.333%;
    }
    @media (max-width: 600px) {
      width: 48%;
    }
    @media (max-width: 360px) {
      display: block;
      width: 96%;
      margin: 2%;
      float: none;
    }
  }
  @mixin hover {
    opacity: 1;
    &:hover, &:active, &:focus {
      opacity: 0.75;
    }
  } */
/* $color-mostarda: #B2BD7E;
$color-blue-dark: #223843;
$color-green-light: #749C75;
$color-green-opaque: #F1F7EE;
$color-white: #F1F7EE;
$color-white-full: #FFF; */
/* $color-green-dark: #223843;
$color-blue: #002a56;
$color-blue-light: #00d6e0;
$color-gray: #939393;
$color-white-light: #f3eee9;*/
body {
  font-family: "Montserrat", sans-serif; }

#home {
  position: relative;
  background-image: url("../../../images/home-header-bg.jpg");
  padding: 5.5% 0% 2% 0%;
  min-height: 100vh;
  width: 100%; }
  #home #middle-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    width: 100%;
    /* box-sizing: border-box;
		border: 1px solid #ddd; */ }
  #home #logo {
    top: 5%;
    width: 390px;
    height: 60px;
    left: 50%;
    position: absolute;
    transform: translateX(-50%); }
  #home #service {
    width: 225px;
    height: 225px; }
  #home h2 {
    margin: 50px 0 0 0;
    font-family: "Montserrat", sans-serif;
    color: #EBF5EE;
    font-size: 2em;
    font-weight: 800;
    letter-spacing: -1px; }
  #home p {
    margin: 0% 20px;
    font-family: "Montserrat", sans-serif;
    color: #3DC2D8;
    font-size: 1.5em;
    padding: 1.1% 30%;
    line-height: 110%; }
  #home #button {
    position: absolute;
    bottom: 70px;
    height: 50px;
    width: 100%;
    left: 50%;
    text-align: center;
    transform: translateX(-50%); }
  #home .button {
    background-color: #EBF5EE;
    font-family: "Roboto", sans-serif;
    font-weight: 800;
    border: 2px solid;
    font-size: 15px;
    height: 47px;
    min-width: 205px;
    max-width: 320px;
    text-transform: uppercase; }

#sobre {
  background-color: #EBF5EE;
  padding: 5.5% 0% 40% 0%; }
  #sobre #sobre-decorator {
    padding: 0% 47.9%; }
  #sobre #sobre-droid {
    padding: 23% 62.5% 0 5.5%; }
  #sobre #sobre-nossos-droid {
    padding: 23% 62.5% 0 5.5%; }
  #sobre .title {
    color: #755F89;
    font-size: 3.6em;
    font-weight: bold;
    letter-spacing: 1px;
    margin: 0;
    padding: 0px 0px 8px 0px; }
  #sobre .header {
    color: #755F89;
    font-size: 2.8em;
    font-weight: 800;
    letter-spacing: 0px;
    padding: 11% 0px 0px 23px; }
  #sobre .sub-header {
    color: #3DC2D8;
    font-size: 1.3em;
    font-weight: 600;
    padding: 33px 10% 0px 23px;
    line-height: 22px; }
  #sobre .caption {
    font-family: "Roboto", sans-serif;
    padding: 20px 10% 0px 23px;
    font-size: 11px;
    line-height: 20px; }
  #sobre .right {
    text-align: right; }

/* #sobre{
	background-color: $color-green-opaque;
	padding-top: 0px;
	padding-bottom: 45px;
	.row-banners{
		margin-top: 30px;
	}
	h1{
		font-family: $font-secondary;
		color: $color-green-dark;
		font-size: 6.1em;
		line-height: 0.1;
		color: $color-mostarda;
		@include responsive(s1) {
			font-size: 5.3em;
		}
		@include responsive(s2) {
			font-size: 4.3em;
			text-align: center;
			float:none;
			max-width: initial;
			margin-bottom: 40px;
		}
	}
	h2{
		font-family: $font-secondary;
		color: $color-green-dark;
		font-size: 3.7em;
		font-style: italic;
	    font-weight: 100;
		.home-green{
			color: $color-green-light;
		}
		@include responsive(s1) {
			font-size: 3em;
		}
		@include responsive(s2) {
			font-size: 2.5em;
			text-align: center;
			float:none;
			max-width: initial;
		}
	}
	p{
		font-family: $font-primary;
		font-size: 1.23em;
		line-height: 1.65em;
		padding: 6% 32% 0% 32%;
		text-align: center;
		float:none;
		@include responsive(s1) {
			padding: 7% 32% 0% 32%;
			max-width: initial;
			text-align: center;
			float:none;
		}
		@include responsive(s2) {
			padding: 7% 12% 0% 12%;
			max-width: initial;
			text-align: center;
			float:none;
		}
		@include responsive(s3) {
			padding: 7% 2% 0% 2%;
			max-width: initial;
			text-align: center;
			float:none;
		}
	}
	.banner{
		h3{
			color: $color-white;
			font-family: $font-secondary;
			font-size: 2em;
			font-weight: bold;
		}
		p{
			color: $color-green-opaque;
			padding: 3% 10% 0% 10%;
		}
		.box{
			background-color: $color-blue-dark;
			margin: 2% 3%;
			padding:1% 1%;
			@include responsive(s2) {
				margin: 3% 3%;
				padding:3% 3%;
			}
			@include responsive(s3) {
				margin: 3% 3%;
				padding:3% 3%;
			}
		}
	}
}

#contato {
	background-image: url('../../../images/bg-01.jpg');
	h1{
		padding: 5% 10% 3% 10%;
		font-family: $font-secondary;
		color: $color-white;
		font-size: 3em;
		@include responsive(s1) {
			max-width: initial;
		}
		@include responsive(s3) {
			font-size: 1.8em;
			padding: 0;
			padding-bottom: 15px;
			padding-top: 40px;
		}
	}
	p {
		padding: 3% 35% 4% 35%;
		color: $color-green-light;
		font-size: 1em;
		font-family: $font-primary;
		font-size: 1.3em;
		@include responsive(s3) {
			font-size: 1em;
			padding: 0;
			padding-bottom: 15px;
			padding-top: 20px;
		}
	}
	.separator:before {
		height: 5px;
		 width: 8%;
	}
}

#produtos {
	background-color: $color-green-opaque;
	padding-top: 0px;
	padding-bottom: 65px;
	h1{
		font-family: $font-secondary;
		color: $color-green-dark;
		font-size: 6.1em;
		line-height: 0.1;
		color: $color-mostarda;
		@include responsive(s1) {
			font-size: 5.3em;
		}
		@include responsive(s2) {
			font-size: 4.3em;
			text-align: center;
			float:none;
			max-width: initial;
			margin-bottom: 30px;
		}
	}
	h2{
		font-family: $font-secondary;
		color: $color-green-dark;
		font-size: 3.3em;
		font-style: italic;
    	margin-top: 80px;
		.home-green{
			color: $color-green-light;
		}
		@include responsive(s1) {
			font-size: 3em;
		}
		@include responsive(s2) {
			font-size: 2.5em;
			text-align: center;
			float:none;
			max-width: initial;
		}
	}
	p{
		font-family: $font-primary;
		padding: 8% 33% 0% 33%;
		text-align: center;
		font-size: 1.23em;
		line-height: 1.65em;
		@include responsive(s1) {
			padding: 7% 32% 0% 32%;
			max-width: initial;
			text-align: center;
			float:none;
		}
		@include responsive(s2) {
			padding: 7% 12% 0% 12%;
			max-width: initial;
			text-align: center;
			float:none;
		}
		@include responsive(s3) {
			padding: 7% 2% 0% 2%;
			max-width: initial;
			text-align: center;
			float:none;
		}
	}
	.decoration {
	    padding-top: 30px;
	    padding-bottom: 30px;
	    width: 25%;
		@include responsive(s3) {
			width: 40%;
		}
		@include responsive(s4) {
			width: 65%;
		}
	}
	.little {
		height: 360px;
		@include responsive(s2) {
			height: initial;
		}
	}
	.little-g {
		height: 390px;
		@include responsive(s2) {
			height: initial;
		}
	}
	.medium {
		height: 480px;
		@include responsive(s2) {
			height: initial;
		}
	}
	.big {
		height: 550px;
		@include responsive(s2) {
			height: initial;
		}
	}
	.banner-produto{
		img{
			width:100%;
		}
		background-color: $color-white-full;
		padding: 20px;
		margin-top: 20px;
		h3{
			color: $color-mostarda;
			font-family: $font-secondary;
			font-size: 1.4em;
			font-weight: bold;
		}
		p {
			padding: 0%;
			font-size: 0.95em;
		}
		.button {
   			background-color: $color-white-full;
   			color: $color-mostarda;
   			border: 2px solid;
   			font-size: 14px;
			font-weight: 600;
			height:40px;
		    min-width: 120px;
		    max-width: 240px;
		    text-transform: capitalize;
		    margin: 10px 0px 20px 0px;
		}
	}
}

#contato-footer{
	background-image: url('../../../images/bg-02.jpg');
	padding-bottom: 60px;
	h1{
		padding: 4% 10% 0% 10%;
		font-family: $font-secondary;
		color: $color-white;
		font-size: 4em;
		font-weight: bold;
		@include responsive(s1) {
			max-width: initial;
		}
		@include responsive(s4) {
			font-size: 3em;
			padding: 0;
			padding-bottom: 0px;
			padding-top: 40px;
		}
	}
	h2{
		padding: 1% 10% 0% 10%;
		font-family: $font-primary;
		color: $color-white;
		font-size: 3.3em;
		@include responsive(s1) {
			max-width: initial;
		}
		@include responsive(s4) {
			font-size: 1.5em;
			padding: 0;
			padding-bottom: 15px;
			padding-top: 20px;
		}
	}
	h3{
		color: $color-white;
		margin-bottom: 45px;
		span{
			font-size: 0.8em;
			@include responsive(s4) {
				font-size: 0.5em;
			}
			a{
				font-family: $font-primary;
				color: $color-white;
				@include responsive(s1) {
					max-width: initial;
				}
				@include responsive(s4) {
					padding: 0;
					padding-bottom: 15px;
					padding-top: 0px;
				}
			}
		}
	}
	.address {
		color: $color-mostarda;
		font-size: 1.5em;
		@include responsive(s4) {
			font-size: 1.2em;
			padding: 0;
			padding-bottom: 30px;
			padding-top: 0px;
		}
	}
	.separator:before {
		height: 5px;
		width: 8%;
	}
}

// Separator

.separator:before {
	text-align: center;
    background-color: $color-mostarda;
    content: "";
    display: inline-block;
    height: 5px;
    position: relative;
    vertical-align: middle;
    width: 20%;
}

// Decoration

.decoration{
	padding-top: 71px;
	padding-bottom: 28px;
	width: 25%;
	@include responsive(s3) {
		width: 40%;
	}
	@include responsive(s4) {
		width: 65%;
	}
} */
